#parentTwo{
    background-color: black;
    transform: translate(0,-80px);
    display: flex;
    flex-direction: row;
}
#headingOne{
    font-size: 26px;
    margin-left: 150px;
    margin-top: 50px;
    padding-top: 70px;
}
#paraTwo{
    font-size: 20px;
    margin-left: 150px;
    margin-top: 50px;
    padding-top: 70px;   
}
#imageOne{
    margin-left: 150px;
}